.jumbotron{
	background: #AEB6BF;
}
input
{
  -moz-border-radius: 5px;
 border-radius: 5px;
    border:solid 1px black; 
    padding:5px;
}

.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.panel{
    margin: 15px;
}