.jumbotron{
	background: #00796B;
    font-family: 'Bungee', cursive;
    color: #212121;

}

.jumbotron p{
    color: #B2DFDB;

}

.index{
    font-family: 'Bungee', cursive;
}

select{
    color: #000000;
    background: transparent;
    background: #FFFFFF;
    border:solid 1px black; 
    font-weight: bold;

    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
}
input
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:solid 1px black; 
    padding:5px;
}

.button {
    background-color: #FFC107;
    border-radius: 5px; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.panel{
    margin: 15px;
}
.footer{
    padding: 10px;
    color: #009688;
    font-size: 12px;
    text-align: center;
    bottom: 0;
}
.nav-tabs{
    margin-top:50px;
}
body{
    background-color: #BDBDBD;
}

body, html {
    height: 100%;
    width: 100%;
}
.invalid{
    color: #FFFFFF;
    background-color: #212121;
    background-image: url("http://i.imgur.com/9Se4k7u.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.profile{
    color: #DAA520;
    font-family: 'Alegreya SC', serif;
    height: 100%;
    width: 100%;
    background: #00796B;
    border: 2px solid black;
    border-radius: 8px;
    text-shadow: 2px 2px #000000;
    text-align: center;
    bottom: 0;
}
.profileTop{
    background-image: url("http://i.imgur.com/NCXIS6C.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}
.fcr{
    color: #DAA520;
    text-shadow: 2px 2px #000000;
    font-family: 'Alegreya SC', serif;
    font-weight: bold;
}

.ub{
    font-family: 'Bungee', cursive;
    color: #212121;
}

.ub h3{
    color: #212121;
}

.ub p{
    color: #212121;
}

.col-md-1 p{
    font-size: 10px;
}

.mastery-info{
    height: 460px;
    width: 100%;
    background-image: url("http://img2.wikia.nocookie.net/__cb20141106230719/leagueoflegends/images/d/d3/Summoners_rift_platform.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    text-shadow: 2px 2px #000000;
    font-family: 'Alegreya SC', serif;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.mastery-info h5, h3, h4{
    color: #FFFFFF;
}
.mastery-info h1, p{
    color: #FFC107;
}

.mastery-info h2{
    color: #009688;
}