<!DOCTYPE HTML>

<html>

<head>

  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Alegreya+SC" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <title>Rift Analytics</title>

   <script>
  function newDoc()
  {
    var user = document.getElementById("searchTxt").value;
    var e = document.getElementById("region");
    var region = e.options[e.selectedIndex].text;
    if (user.length > 0){
      window.location.assign("/profile/" +  region + "/" + user)
    }
    else{
      alert("Please type a valid summoner name. Length must be between 1 and 16.")
    }
  }
</script>

<script>
function rotation(){
  $.ajax({
      type: "POST",
      url: "/champion_rotation",
      success : function(response){
        for(i = 0; i < response.info.length; i++){
          $.ajax({
      type: "POST",
      url: "/champion_info",
      data: {'id' : response.info[i]},
      success : function(data){
        if (i == 0){
          changeImage(data.info);
        }
        var a = document.createElement("a");
        var x = document.createElement("IMG");
        //x.setAttribute("onclick", "http://google.com");
        x.setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/" + data.info[2]);
        x.setAttribute("width", "60");
        x.setAttribute("height", "60");
        a.appendChild(x);
        //a.setAttribute("href", "javascript:changeImage(\'' + data.info[0] +'\')");
        a.addEventListener('click', function(){changeImage(data.info);});
        document.getElementById("pics").appendChild(a);
        //document.body.appendChild(a);
      }
    })
        }
      }
    })
}
</script>

<script>
function changeImage(champ){
  if (document.body){
    string = "http://ddragon.leagueoflegends.com/cdn/img/champion/splash/" + champ[0] + "_0.jpg";
    document.body.background = string;
    document.getElementById("name").innerHTML = champ[0];
    document.getElementById("desc").innerHTML = champ[1];
  }
}
</script>

</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rift Analytics</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/free-champion-rotation"><span class="glyphicon glyphicon-retweet"></span> Free Champion Rotation </a></li>
        <li><a href="/ultimate-bravery"><span class="glyphicon glyphicon-fire"></span> Ultimate Bravery </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> Top Lists </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Live Match Predictor </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-road"></span> Rankings </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button class="button" onclick="newDoc()"><span class="glyphicon glyphicon-search"></span> </button> <input name="searchTxt" type="text" maxlength="16" id="searchTxt" placeholder="Name.." class="searchField"/> <select id="region">
        <option>NA</option>
        <option>EUW</option>
        <option>EUNE</option>
        <option>KR</option>
        </select></li>
      </ul>
    </div>
  </div>
</nav><select id="region">
        <option>NA</option>
        <option>EUW</option>
        <option>EUNE</option>
        <option>KR</option>
        </select>
<br><br><br><br>

<body>
  <div class="container">
    <div class="fcr">
    <div class="row">
      <div class="col-md-3" id ="pics"><h3>Free Champion Rotation</h3></div>
      <div class="col-md-6"><br><br><br><br><br><br><br><br><br><br><br><br><br><h1 id="name"></h1><h2 id="desc"></h2></div>
      <div class="col-md-3"></div>
    </div>
  </div>
  </div>
<script>rotation();</script>
</body>

</html>