<!DOCTYPE HTML>

<html>

<head>

  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}"/>
   <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <title>Rift Analytics</title>

   <script type="text/javascript" src="{{ url_for('static', filename='/scripts/search.js') }}"></script>


</head>

{% include "header.html" %}

<div class="jumbotron text-center">
  <h1> Welcome to Rift Analytics! </h1>
  <p> Rift Analytics is a web application for the game League of Legends. On this web application we display various data and analytics for the game. </p>
</div>

<div class="index">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <h2> Features: </h2>

      <h3><span style="color:#00796B"> Ultimate Bravery</span> </h3>
      <p> <span style="color:#757575">Are you ready for a challenge? Check out ultimate bravery! Click on the challenge button and follow the Champion, Summoner Spell, and Item Rules in your next match on Summoner's Rift.</span></p>
    </div>
    <div class="col-sm-5"><img src="http://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/lol_promoart_8_1.jpg?itok=mtRIv7kG" height="200px" width="400px"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><img src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/e/e2/Blitzcrank_Render_old.png/revision/latest?cb=20141008224252" height="100px" width="auto"></div>
    <div class="col-sm-3"><img src="http://vignette4.wikia.nocookie.net/leagueoflegends/images/0/05/Yorick_Render.png/revision/latest?cb=20160910133436" height="200px" width="auto"></div>
    <div class="col-sm-7">
      <h3><span style="color:#00796B"> Free Champion Rotation </span> </h3>
      <p> <span style="color:#757575">Are you looking for a new champion to play? Check out the free champion rotation. Once per week Riot releases free champions for everyone to try out. Give it a go, you may find your perfect champion.</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h3><span style="color:#00796B"> Your Profile </span> </h3>
      <p> <span style="color:#757575">Take a look at how you are currently doing. Here you can view your solo rank, masteries, champion statistics, match history, and much more!</span></p>
    </div>
    <div class="col-sm-4"><img src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/9/9b/Champ_Mastery_S3b.png/revision/latest?cb=20150312005414" height="200px" width="auto"></div>
  </div>
</div>
</div>
<br><br>
</html>

{% include "footer.html" %}