<!DOCTYPE HTML>

<html>

<head>

  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}"/>
   <title>Rift Analytics</title>

   <script>
  function newDoc()
  {
    var user = document.getElementById("searchTxt").value;
    var e = document.getElementById("region");
    var region = e.options[e.selectedIndex].text;
    if (user.length > 0){
      window.location.assign("/profile/" +  region + "/" + user)
    }
    else{
      alert("Please type a valid summoner name. Length must be between 1 and 16.")
    }
  }
</script>


</head>

{% include "header.html" %}


    <div class="invalid">
      <br><br><br><br><br><br><br><br><br>
      <div class="col-md-4">
      <h1> Sorry! {{ error }} </h1></div>
    </div>

</html>