<!DOCTYPE HTML>

<html>

<head>

  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <title>Rift Analytics</title>

   <script type="text/javascript" src="{{ url_for('static', filename='/scripts/search.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='/scripts/generator.js') }}"></script>
  
</head>

{% include "header.html" %}

<div class="ub">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Ultimate Bravery</h1><br>
      <p> <span style="color:#B2DFDB">Are you brave enough for the challenge? Can you do it?</span></p>
      <button class="btn btn-lg btn-danger" onclick="generator()"><span class="glyphicon glyphicon-fire"></span> Take the Challenge</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"><h5>Champion: </h5> </div>
      <div class="col-md-2"><h5>Summoner Spells: </h5></div>
      <div class="col-md-6"><h5>Items: </h5></div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p id ="generated-champion-image"></p>
        <h3 id ="generated-champion"></h3>
        <p id ="generated-champion-description"></p><br>
      </div>
      <div class="col-md-2" id ="generated-ss1"></div>
      <div class="col-md-1" id ="generated-boot"></div>
      <div class="col-md-1" id ="generated-item1"></div>
      <div class="col-md-1" id ="generated-item2"></div>
      <div class="col-md-1" id ="generated-item3"></div>
      <div class="col-md-1" id ="generated-item4"></div>
      <div class="col-md-1" id ="generated-item5"></div>
    </div>
  </div>
</div>

</html>

{% include "footer.html" %}

